body { font-family: sans-serif; margin: 0px;}
#content {margin:8px;}
#page-title {
  margin-bottom:0px;
  border-bottom: 1px solid #888;
  padding-bottom:10px;
  padding-left:8px;
  padding-right:8px;
}
#controls {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
#my-table .tabulator-col-title {
  text-transform: capitalize;
}
.link-icon {
  width:20px;
  vertical-align: top;
  cursor: pointer;
}
.add-icon {
  font-size:20px;
}
.tabulator-row.tabulator-selectable:hover {
  cursor: default;
}
#saveXLSX, #saveCSV {
  visibility: hidden;
}