.tabulator-col-title {
    text-transform: capitalize;
  }

  .link-icon {
    width:21px;
    height:21px;
  }

  .add-icon {
    font-size:20px;
    vertical-align: top;
    cursor: pointer;
  }

  .tabulator-row.tabulator-selectable:hover {
    cursor: default;
  }

  .tabulator-cell[tabulator-field="links"] {
    text-align: center;
}

.tabulator-cell[tabulator-field="links"] a {
  padding:0px 2px;
}